<div class="text-center mt-2 py-3" id="topbar">
	<h1>Gamma Software - Test technique</h1>
</div>
<div class="container pt-4">
	<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
	<div class="file-upload">
		<button type="button" color="primary" class="upload-btn" (click)="fileUpload.click()">
			<i class="bi bi-paperclip"></i> {{ fileName || "Choisir le fichier à importer" }}
		</button>
		<button *ngIf="fileName" class="btn btn-primary mx-4" type="button" (click)="onSubmitFile()">Importer le fichier</button>
	</div>
	<h2 class="mt-4 text-center">Liste des groupes</h2>
	<div class="mt-4">
		<p class="text-center" *ngIf="groups.length === 0">Aucun groupe n'a encore été importé.</p>
		
		<div class="card mt-4" *ngFor="let group of groups">
			<div class="card-body">
				<h5 class="card-title">{{ group.name }}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{ group.state }}, {{ group.city }}</h6>
				<p class="card-text">{{ group.presentation }}</p>
				<a [routerLink]="['/group-edit', group.id]" class="btn btn-primary card-link"><i class="bi bi-pen px-2"></i>Modifier</a>
				<a (click)="onDeleteGroup(group.id)" class="btn btn-danger card-link"><i class="bi bi-trash px-2"></i>Supprimer</a>
			</div>
		</div>
	</div>
</div>